/* Reset */
/***************************************/
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{margin:0;padding:0;outline:0;border:0;background:transparent;vertical-align:baseline;font-size:100%}
article, aside, figure, footer, header, hgroup, nav, section { display: block; }

/* Variables =================================================== */
/* Mixins =================================================== */
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{position:static;overflow:visible;clip:auto;margin:0;width:auto;height:auto}

/* Page */
/***************************************/
html { background: url(/assets/img/layout/bg/etheya-bg.jpg); font-size: 62.5%; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: #f3f5f6; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; padding: 0; width: 100%; background-color: transparent; color: #000000; font-size: 16px; font-size: 1.6rem; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.5em; }
.holding  { width: 590px; float: none; height: 235px; margin: 0 auto; margin-top: 100px; background: url(/assets/img/layout/bg/holding-shadow.png) center bottom no-repeat; padding-bottom: 100px;}

/* Typography */
/***************************************/
h1,h2,h3,h4,h5,h6{margin:0;color:inherit;font-weight:700;font-family:inherit;text-rendering:optimizelegibility}
h1 small,h2 small{color:#bfbfbf;font-weight:400}
h1,.h1{margin-bottom:.75em;font-size:32px;font-size:3.2rem;line-height:1.2}
h2,.h2{margin-bottom:.75em;font-size:24px;font-size:2.4rem;line-height:1.2}
h3,.h3{margin-bottom:1em;font-size:21px;font-size:2.1rem;line-height:1.3}
h4,.h4{margin-bottom:1.5em;font-size:18px;font-size:1.8rem;line-height:1.25}
h5,.h5{margin-bottom:1.5em;font-size:16px;font-size:1.6rem}
h6,.h6{margin-bottom:1.5em;text-transform:uppercase;letter-spacing:1px;font-weight:400;font-size:14px;font-size:1.4rem}
.header h1,.header h2,.header h3{float:left;margin-right:24px}
.header h1 a,.header h2 a,.header h3 a{position:relative;top:6px;display:block;float:right;padding:4px 12px;background-color:#f3f5f6;font-size:14px;font-size:1.4rem}
.header h1:hover,.header h2:hover,.header h3:hover{background-color:#f3f5f6}
.header .a-rss,.header .a-rss:hover{float:left;overflow:hidden;padding:0;width:16px;height:16px;background:transparent url(../img/a-rss.png) no-repeat 0 0;text-indent:100%;white-space:nowrap}
p,ol,ul,dl,address{margin-bottom:1.5em;font-size:14px;font-size:1.4rem;line-height:1.6em}
small{font-size:14px;font-size:1.4rem}
ul,ol{margin:0 0 1.5em -24px;padding:0 0 0 24px}
li ul,li ol{margin:0;font-size:16px;font-size:1.6rem}
blockquote{margin:0 0 1.5em -24px;padding-left:24px;border-left:2px solid #c7ced6;font-style:normal;font-family:Cambria,Georgia,Times,"Times New Roman"}
q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
cite{font-style:normal}
dl,dd{margin-bottom:1.5em}
dt{font-weight:700}
.dl-horizontal dt{float:left;clear:left;width:20.25%;text-align:right}
.dl-horizontal dd{margin-left:22.78%}
abbr[title]{border-bottom:1px dotted #c7ced6;cursor:help}
b,strong{font-weight:700}
dfn{font-style:italic}
ins{background-color:#f3f5f6;color:#000;text-decoration:none}
mark{background-color:#f3f5f6;color:#000;font-weight:700;font-style:italic}
pre,code,kbd,samp{font-size:14px;font-size:1.4rem;font-family:Monaco,Courier New,monospace;line-height:1.5em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
sub,sup{position:relative;vertical-align:baselineheight;font-size:12px;font-size:1.2rem;line-height:0}
sup{top:-.5em}
sub{bottom:-.25em}

.logo { background: url(/assets/img/layout/logo_etheya.png) 0 0 no-repeat; text-indent: -9999px; width: 340px; height: 175px; margin: 0 auto 20px auto;   }
.slogan { font-family: "adelle",serif; font-size: 1.1em;  text-align: center; text-shadow: #fff 1px 1px 1px; color: #333; padding: 0; }
.slogan span { font-size: .85em; color: #666; }

a{color:#666;text-decoration:none}
a:visited{color:#000203}
a:hover{color:#011b35;text-decoration:underline}
a:focus{outline:thin dotted;color:#000}
a:hover,a:active{outline:0}